# Глобальные серверные настройки
COMPOSE_PROJECT_NAME=
COMPOSE_COMMON_PROJECT_NAME=
COMPOSE_NETWORK_NAME=

# Домен
PROJECT_HOST=

# ssl
PROJECT_CERT_RESOLVER=letsEncrypt
PROJECT_SSL_MIDDLEWARES=redirect-to-non-www@file,trim-index@file
PROJECT_MIDDLEWARES=redirect-to-non-www@file,redirect-to-https@file,trim-index@file

# ftp доступы для загрузки скриншотов
FTP_USER=
FTP_PASSWORD=